*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7),
                                            rgba(0,0,0,0.7)
                                        ),url(mate.jpg);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: cornflowerblue;
    border-radius: 5px;
}
.hola{
    color: wheat;
    font-size: 25px;
    font-weight: bold;
    width: 90%;
    text-align: center;
}
.tip{
    color: yellowgreen;
    width: 90%;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
}
.presentacion{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

.contenedor-de-calculadora{
    margin: 20px auto;
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 10px;
    grid-template-areas: 
    'historia historia calculadora'
    'historia historia calculadora';
}

.historial-de-operaciones{
    background-color: rgba(0, 0, 0, 0.808);
    grid-area: historia;
    width: 99%;
    height: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    gap: 7px;
    overflow: auto;
    border: solid 1px cornflowerblue;
    padding: 5px 0 7px 0;
}
.historial-de-operaciones::-webkit-scrollbar{
    width: 5px;
}
.historial-de-operaciones::-webkit-scrollbar-thumb{
    background-color: wheat;
    border-radius: 5px;
}
.titulo-historial{
    width: 99%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: aqua;
}
.contenedor-de-operacion{
    border: solid 1px white;
    height: 200px;
    width: 200px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
    'tipeOper factor1 factor1'
    'tipeOper factor2 factor2'
    'tipeOper resultado resultado';
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.808);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: aqua;
}
.num-left{
    grid-area: factor1;
}
.num-right{
    grid-area: factor2;
    border-bottom: solid 1px white;
}
.tipe-oper{
    grid-area: tipeOper;
    justify-self: right;
    min-width: 20px;
    font-size: 25px;
    color: blue;
}
.resultado{
    grid-area: resultado;
    max-width: 99%;
}

.calculadora{
    background-color: rgba(0, 0, 0, 0.808);
    grid-area: calculadora;
    width: 99%;
    height: 99%;
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(6 1fr);
    grid-template-areas: 
    'title title title title title'
    'input input input input input'
    'num0 num1 num2 operSuma operDivision'
    'num3 num4 num5 operResta btnResult'
    'num6 num7 num8 operMultipli btnResult'
    'punto num9 delet delet clear';
    border: 1px solid cornflowerblue;
}
#miInput{
    grid-area: input;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255,.4);
    border-radius: .5rem;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.titulo-calculadora{
    grid-area: title;
    opacity: 0;
}
.cero{
    grid-area: num0;
}
.uno{
    grid-area: num1;
}
.dos{
    grid-area: num2;
}
.tres{
    grid-area: num3;
}
.cuatro{
    grid-area: num4;
}
.cinco{
    grid-area: num5;
}
.seis{
    grid-area: num6;
}
.siete{
    grid-area: num7;
}
.ocho{
    grid-area: num8;
}
.nueve{
    grid-area: num9;
}
.mas{
    color: blue;
    grid-area: operSuma;
    
}
.menos{
    color: blue;
    grid-area: operResta;
    
}
.guion-bajo{
    position: relative;
    bottom: 9px;
}
.multipli{
    color: blue;
    grid-area: operMultipli;
    
}
.division{
    color: blue;
    grid-area: operDivision;
    
}
.result{
    color: greenyellow;
    grid-area: btnResult;
    
}
.punto{
    grid-area: punto;
}
.delete{
    color: red;
    grid-area: delet;
}
.clear{
    grid-area: clear;
    color: red;
}
button{
    display: inline-block;
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10%;
    color: aquamarine;
    font-weight: bold;
    border: solid 1px cornflowerblue;
    background-color: rgba(0, 0, 0, 0.123);
}
button:hover{
    background-color: rgba(100, 148, 237, 0.185);
    transition: 0.3s;
}

